app/src/main/rimeAssets/** -text
third_party/rime/data-sources/*.zip -text
third_party/rime/data-sources/*.yaml text eol=lf
third_party/rime/*.json text eol=lf
third_party/rime/data-sources/opencc/** -text
